<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css' integrity='sha512-HHsOC+h3najWR7OKiGZtfhFIEzg5VRIPde0kB0bG2QRidTQqf+sbfcxCTB16AcFB93xMjnBIKE29/MjdzXE+qw==' crossorigin='anonymous'/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Titan+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>To Do List</title>
</head>
<body>
  
  <div id="app" class="container">

    <div class="logo">
      <h1>{{title}} <i class="fa-solid fa-bolt"></i></h1>
    </div>
    <div class="input-area">
      <input @keyup.enter="createTask" 
      v-model.trim="newMsgString" 
      placeholder="New task" 
      type="text">
      <button @click="createTask">Add</button>
      <p class="error">{{errorString}}</p>
    </div>

    <div class="tasks-area">
      <ul v-if="tasks.length > 0">
        <li v-for="(task, index) in tasks" 
        @click="task.done = !task.done" 
        :class="{'done': task.done}" 
        class="task">
          <span>{{task.text}}</span>
          <i @click.stop="deleteTask(index)" class="fa-solid fa-trash-can"></i>
        </li>
      </ul>
      <h3 v-else>You have completed all tasks! &#127881;</h3>
    </div>

  </div>


  <script src="https://unpkg.com/vue@3"></script>
  <script src="js/main.js"></script>
</body>
</html>